@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* :root{
    --bg-color1 : #212529;
    --bg-color2 : #2a2b2d;
} */
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* body{
    background-color: #212529 !important; 
    color: #fff !important;
} */
/* .header{
    background-color: #2a2b2d !important;
    color: #fff !important;
} */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
.header .container #search{
    width: fit-content;
    
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}